body, h1, h2, h3, p {
    margin: 0;
}

.header {
    background-color: darkcyan;
    padding: 50px;
    display: flex;
    gap: 50px;
    box-shadow: 0px 0px 12px rgb(99, 113, 119);
}

.header > h1 {
    color: white;
    font-size: 3rem;
}

#new-book-btn {
    background-color: rgb(255, 189, 67);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    padding: 0px 20px;
    box-shadow: 0px 1px 5px rgb(10, 54, 54);
    cursor: pointer;
}
#new-book-btn:hover {
    background-color: rgb(255, 202, 105);
}

.book-container {
    display: flex;
    gap: 10px;
    padding: 50px;
}

.book-card {
    background-color: darkcyan;
    color: white;
    padding: 30px;
    border-radius: 10px;
    border-left: 10px rgb(255, 202, 105) solid;
    box-shadow: 3px 3px 6px rgb(171, 186, 192);
}

.book-card > h2 {
    font-size: 2rem;
}

.book-card > h3 {
    font-size: 1.2rem;
}

.book-card .read-btn, .delete-btn {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    margin: 20px 5px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-card .read-btn {
    background-color: white;
}
.book-card .read-btn:hover {
    background-color: rgb(222, 251, 255);
}

.book-card .delete-btn {
    background-color: rgb(255, 108, 88);
}
.book-card .delete-btn:hover {
    background-color: rgb(255, 81, 58)
}

.read {
    background-color: rgb(120, 206, 206);
    color: black;
}